In [33]:
import pandas as pd


game_top = pd.read_csv("steam_top_4171.csv")
df = pd.read_csv("T_games_dataset.csv")
df.head(1)

,id,client_id,order_day,category_id,category_name,good_id,good_name,good_price,good_cnt,gender_cd,age,education_level,city_nm,monthly_income_amt,steam_popularity_score
0,1500571355,5-25R6ZT3L9,2023-05-22,29688,Скидки,890257,The Night of the Rabbit,299.0,1.0,M,28,UGR,Москва,73552,0.0

In [39]:
t_games = pd.DataFrame(dict(name=pd.unique(df.good_name)))
t_games = t_games.merge(game_top, on="name", how="left")

print(t_games.shape)
print(t_games[t_games.rating.isna()].shape)

r = df[df.steam_popularity_score > 0]
r = r.drop(r[r.good_name.duplicated()].index)

t_games = t_games.merge(r[["good_name", "steam_popularity_score"]], left_on="name", right_on="good_name")
t_games[~t_games.rating.isna()]

(3140, 7)
(2759, 7)

,name,rating,release_date,has_sale,sale,final_price,original_price,good_name,steam_popularity_score
0,GTFO,30.0,2021-12-10,1.0,-40%,1005.0,1675.0,GTFO,283.0
1,Neon White,1040.0,2022-06-16,0.0,0,775.0,775.0,Neon White,1676.0
3,Dome Keeper,1022.0,no date,0.0,0,650.0,650.0,Dome Keeper,1558.0
4,POSTAL 2,157.0,2012-11-02,1.0,-90%,38.5,385.0,POSTAL 2,451.0
5,Shadows of Doubt,70.0,2023-04-24,1.0,-20%,568.0,710.0,Shadows of Doubt,39.0
...,...,...,...,...,...,...,...,...,...
499,WE ARE FOOTBALL,2496.0,2021-06-10,0.0,0,1199.0,1199.0,WE ARE FOOTBALL,1579.0
506,SCUM,21.0,2018-08-29,1.0,-50%,1167.0,2335.0,SCUM,55.0
513,Strange Horticulture,566.0,2022-01-21,1.0,-50%,275.0,550.0,Strange Horticulture,1915.0
514,Age of Wonders III,1720.0,2014-03-31,0.0,0,499.0,499.0,Age of Wonders III,1089.0
519,Medieval Dynasty,25.0,no date,1.0,-20%,1462.4,1828.0,Medieval Dynasty,270.0